html {
    display: flex;
    justify-content: center;
}

body {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    padding: 24px 156px;
}

.gallery {
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .gallery-image {
        display: block;
        width: 360px;
        height: 200px;
    }
}

.feedback-form {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;

    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 408px;
 

    border-radius: 8px;
    background: #fff;

    input,
    textarea,
    button {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        letter-spacing: inherit;
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        width: 100%;
        
        input {
            width: 100%;
            height: 40px;

            border-radius: 4px;
            border: 1px solid #808080;

            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
        }
        input:hover {
            border: 1px solid #000;
        }
        input:focus {
            border: 1px solid #808080;
            outline: none;
        }

        textarea {
            width: 100%;

            border-radius: 4px;
            border: 1px solid #808080;

            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 16px;

            resize: none;
        }
        textarea:hover {
            border: 1px solid #000;
        }
        textarea:focus {
            border: 1px solid #808080;
            outline: none;
        }
    }
    button {
        font-family: Montserrat;
        color: #fff;
        font-weight: 500;

        margin-top: 8px;
        display: block;
        padding: 8px 16px;
        gap: 10px;

        width: 95px;
        height: 40px;
        border-radius: 8px;
        border-color: transparent;
        background: #4e75ff;
    }
    button:hover {
        background: #6c8cff;
        cursor: pointer;
    }
}
